USE [master]
GO
/****** Object:  Database [PoryectoDAW]    Script Date: 21/05/2019 19:15:13 ******/
CREATE DATABASE [PoryectoDAW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoryectoDAW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PoryectoDAW.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PoryectoDAW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PoryectoDAW_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoryectoDAW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoryectoDAW]
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 21/05/2019 19:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[CARRITO_ID] [int] NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[FECHA_CR] [date] NOT NULL,
	[PRECIO_T] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CARRITO] PRIMARY KEY CLUSTERED 
(
	[CARRITO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRITOPRODUCTO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITOPRODUCTO](
	[CARRITO_ID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
	[UNIDADES] [int] NOT NULL,
	[PRECIO] [numeric](5, 2) NOT NULL,
	[DESCUENTO] [int] NOT NULL,
 CONSTRAINT [PK_CARRITOPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[CARRITO_ID] ASC,
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_ENVIO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_ENVIO](
	[ID_ESTADO] [int] NOT NULL,
	[TEXTO_ESTADO] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ESTADO_ENVIO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[PEDIDO_ID] [int] NOT NULL,
	[DNI] [varchar](50) NOT NULL,
	[PRECIO_TOTAL] [numeric](5, 2) NOT NULL,
	[INFO_PAGO] [varchar](50) NOT NULL,
	[ESTADO_ENVIO] [int] NOT NULL,
 CONSTRAINT [PK_PEDIDO_1] PRIMARY KEY CLUSTERED 
(
	[PEDIDO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOPRODUCTO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOPRODUCTO](
	[PEDIDO_ID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
	[UNIDADES] [nchar](10) NOT NULL,
	[PRECIO] [nchar](10) NOT NULL,
	[DESCUENTO] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PEDIDOPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PEDIDO_ID] ASC,
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[P_ID] [int] NOT NULL,
	[NOMBREP] [varchar](50) NOT NULL,
	[PRECIO] [numeric](5, 2) NOT NULL,
	[DESCRIP] [varchar](100) NULL,
	[CATEGORIA] [varchar](50) NULL,
	[UD_DISPO] [int] NULL,
	[V_ID] [int] NULL,
	[IMAGEN] [varchar](50) NULL,
	[LINK] [varchar](100) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[V_ID] [int] NOT NULL,
	[NOMBREV] [varchar](50) NOT NULL,
	[TLFNV] [int] NOT NULL,
	[EMAILV] [varchar](50) NOT NULL,
	[DESCV] [varchar](100) NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[V_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] NOT NULL,
	[N_ROL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[DNI] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWD] [varchar](50) NOT NULL,
	[TLFN] [int] NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[CIUDAD] [varchar](50) NOT NULL,
	[PAIS] [varchar](50) NOT NULL,
	[CP] [int] NOT NULL,
	[ROL] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDORPRODUCTO]    Script Date: 21/05/2019 19:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDORPRODUCTO](
	[V_ID] [int] NOT NULL,
	[P_ID] [int] NOT NULL,
 CONSTRAINT [PK_VENDEDORPRODUCTO] PRIMARY KEY CLUSTERED 
(
	[V_ID] ASC,
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FK_CARRITO_CLIENTE] FOREIGN KEY([DNI])
REFERENCES [dbo].[USUARIO] ([DNI])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FK_CARRITO_CLIENTE]
GO
ALTER TABLE [dbo].[CARRITOPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_CARRITOPRODUCTO_CARRITO] FOREIGN KEY([CARRITO_ID])
REFERENCES [dbo].[CARRITO] ([CARRITO_ID])
GO
ALTER TABLE [dbo].[CARRITOPRODUCTO] CHECK CONSTRAINT [FK_CARRITOPRODUCTO_CARRITO]
GO
ALTER TABLE [dbo].[CARRITOPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_CARRITOPRODUCTO_PRODUCTO1] FOREIGN KEY([P_ID])
REFERENCES [dbo].[PRODUCTO] ([P_ID])
GO
ALTER TABLE [dbo].[CARRITOPRODUCTO] CHECK CONSTRAINT [FK_CARRITOPRODUCTO_PRODUCTO1]
GO
ALTER TABLE [dbo].[ESTADO_ENVIO]  WITH CHECK ADD  CONSTRAINT [FK_ESTADO_ENVIO_ESTADO_ENVIO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO_ENVIO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[ESTADO_ENVIO] CHECK CONSTRAINT [FK_ESTADO_ENVIO_ESTADO_ENVIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([ESTADO_ENVIO])
REFERENCES [dbo].[ESTADO_ENVIO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDOPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOPRODUCTO_PEDIDO] FOREIGN KEY([PEDIDO_ID])
REFERENCES [dbo].[PEDIDO] ([PEDIDO_ID])
GO
ALTER TABLE [dbo].[PEDIDOPRODUCTO] CHECK CONSTRAINT [FK_PEDIDOPRODUCTO_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDOPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOPRODUCTO_PRODUCTO] FOREIGN KEY([P_ID])
REFERENCES [dbo].[PRODUCTO] ([P_ID])
GO
ALTER TABLE [dbo].[PEDIDOPRODUCTO] CHECK CONSTRAINT [FK_PEDIDOPRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_VENDEDOR] FOREIGN KEY([V_ID])
REFERENCES [dbo].[PROVEEDOR] ([V_ID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_VENDEDOR]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[VENDEDORPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_VENDEDOR_VENDEDORPRODUCTO] FOREIGN KEY([V_ID])
REFERENCES [dbo].[PROVEEDOR] ([V_ID])
GO
ALTER TABLE [dbo].[VENDEDORPRODUCTO] CHECK CONSTRAINT [FK_VENDEDOR_VENDEDORPRODUCTO]
GO
ALTER TABLE [dbo].[VENDEDORPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_VENDEDORPRODUCTO_PRODUCTO] FOREIGN KEY([P_ID])
REFERENCES [dbo].[PRODUCTO] ([P_ID])
GO
ALTER TABLE [dbo].[VENDEDORPRODUCTO] CHECK CONSTRAINT [FK_VENDEDORPRODUCTO_PRODUCTO]
GO
USE [master]
GO
