
@{
    ViewBag.Title = "MenuLateral";
}

<nav class="col-sm-2">
    <ul class="nav nav-pills nav-stacked " style="padding-top: 2%;margin-left: 3%">
        <li data-toggle="collapse" data-target="#primerdesplegable">
            <a href="#section2">Juego de tronos</a>
            <div id="primerdesplegable" class="collapse">
                <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                    <li><a href="#section1">Dragones</a></li>
                    <li><a href="#section2">Invernalia</a></li>
                    <li><a href="#section3">El otro lao</a></li>
                </ul>
            </div>
        </li>

        <li data-toggle="collapse" data-target="#segundodesplegable">
            <a href="#section2">Marvel</a>
            <div id="segundodesplegable" class="collapse">
                <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                    <li><a href="#section1">Avengers </a></li>
                    <li><a href="#section2">Thanos </a></li>
                    <li><a href="#section3">Dioses 3</a></li>
                </ul>
            </div>
        </li>

        <li data-toggle="collapse" data-target="#tercerdesplegable">
            <a href="#section2">Star Wars</a>
            <div id="tercerdesplegable" class="collapse">
                <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                    <li><a href="#section1">Trilogia 1</a></li>
                    <li><a href="#section2">Trilogia 2</a></li>
                    <li><a href="#section3">Trilogia 3</a></li>
                </ul>
            </div>
        </li>

        <!--  <li data-toggle="collapse" data-target="#cuartodesplegable"><a href="#section2">Juego de
                  tronos</a>
              <div id="cuartodesplegable" class="collapse">
                  <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                      <li><a href="#section1">Dragones</a></li>
                      <li><a href="#section2">Invernalia</a></li>
                      <li><a href="#section3">El otro lao</a></li>
                  </ul>
              </div>
          </li>

          <li data-toggle="collapse" data-target="#quintodesplegable"><a href="#section2">Marvel</a>
              <div id="quintodesplegable" class="collapse">
                  <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                      <li><a href="#section1">Avengers </a></li>
                      <li><a href="#section2">Thanos </a></li>
                      <li><a href="#section3">Dioses 3</a></li>
                  </ul>
              </div>
          </li>

          <li data-toggle="collapse" data-target="#sextodesplegable"><a href="#section2">Star Wars</a>
              <div id="sextodesplegable" class="collapse">
                  <ul class="nav nav-pills nav-stacked " style="padding-left: 15%">
                      <li><a href="#section1">Trilogia 1</a></li>
                      <li><a href="#section2">Trilogia 2</a></li>
                      <li><a href="#section3">Trilogia 3</a></li>
                  </ul>
              </div>
          </li>-->
    </ul>
</nav>
<!--FIN DE MENU LATERAL-->
