
@{
    ViewBag.Title = "MisPedidos";
}



    <h2>Listado de pedidos</h2>
    <p>Listado de sus pedidos y su estado:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dirección</th>
                <th>Nº de pedido</th>
                <th>Artículos</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Casa</td>
                <td>687748</td>
                <td>Funko Oso</td>
                <td>En camino </td>
            </tr>
            <tr>
                <td>Casa</td>
                <td>78779</td>
                <td>Funko reina roja, funko batman...</td>
                <td>Entregado</td>
            </tr>
            <tr>
                <td>Casa</td>
                <td>8797979</td>
                <td>Funko Maybe</td>
                <td>Cancelado</td>
            </tr>
        </tbody>
    </table>

