@{
    ViewBag.Title = "GestionProductos";
}

<h2>Listado de Productos</h2>
<p>Listado de sus Productos:</p>
<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IdProducto</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fabricante</th>
                <th>Unidades</th>
                <th>Descripción</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>213213213213</th>
                <th>Funko</th>
                <td>123</td>
                <td>Pedro</td>
                <td>687748</td>
                <td>Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es v</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">

                    </div>
                </td>
            </tr>
            <tr>
                <th>213213213213</th>
                <th>Funko</th>
                <td>123</td>
                <td>Pedro</td>
                <td>687748</td>
                <td>Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es v</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">

                    </div>
                </td>
            </tr>
            <tr>
                <th>213213213213</th>
                <th>Funko</th>
                <td>123</td>
                <td>Pedro</td>
                <td>687748</td>
                <td>Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es v</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">

                    </div>
                </td>
            </tr>
            <tr>
                <th>213213213213</th>
                <th>Funko</th>
                <td>123</td>
                <td>Pedro</td>
                <td>687748</td>
                <td>Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es Funko Oso volador increiblemente increible y fantasticamente fantastico, pero que chulo es v</td>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
        <button type="submit" class="btn btn-primary mb-2">Validar Acciones</button>
    <br />
        <p >O quizas quieras: @Html.ActionLink("Añadir un producto", "NuevoProducto", "Admin")</p> 
</form>
